<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="email">Dirección de correo electrónico:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Enviar</button>
      </form>
      
      {% if informacion %}
        <h2>Información de la cuenta de correo electrónico: {{ informacion.email }}</h2>
        
        <h3>Código de estado de la respuesta: {{ informacion.status_code }}</h3>
        
        {% if informacion.result %}
          <h3>Datos de la respuesta:</h3>
          <table>
            <tr>
              <th>Campo</th>
              <th>Valor</th>
            </tr>
            {% for key, value in informacion.result.items() %}
              <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
      {% endif %}
      
      
</body>
</html>