<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST">
        <label for="dominio">Dominio:</label>
        <input type="text" id="dominio" name="dominio" required>
        <button type="submit">Enviar</button>
      </form>
      
      {% if informacion %}
        <h1>Información del dominio {{ informacion.dominio }}</h1>
        
        <h2>Dirección IP: {{ informacion.direccion_ip }}</h2>
        
        {% if informacion.certificado_ssl %}
          <h2>Certificado SSL: Disponible</h2>
          <ul>
            <li>Emisor del certificado: {{ informacion.certificado_ssl.issuer[0][0][1] }}</li>
            <li>Sujeto del certificado: {{ informacion.certificado_ssl.subject[0][0][1] }}</li>
            <li>Fecha de vencimiento del certificado: {{ informacion.certificado_ssl.notAfter }}</li>
          </ul>
        {% else %}
          <h2>Certificado SSL: No disponible</h2>
        {% endif %}
      {% endif %}
      

</body>
</html>