<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resultados</title>
</head>
<body>
    <body>
        <h1>Resultados de verificación de enlaces</h1>
        <h2>Enlaces en la lista verde:</h2>
        <ul>
            {% for link in verde %}
            <li>{{ link }}</li>
            {% endfor %}
        </ul>
        <h2>Enlaces en la lista gris:</h2>
        <ul>
            {% for link in gris %}
            <li>{{ link }}</li>
            {% endfor %}
        </ul>
        <h2>Enlaces en la lista negra:</h2>
        <ul>
            {% for link in negra %}
            <li>{{ link }}</li>
            {% endfor %}
        </ul>
    </body>
</body>
</html>